.toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--nav-text);
  transition: color 0.3s, transform 0.3s ease;
  display: flex;
  align-items: center;
}

.toggle:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}
