.nav {
  background-color: var(--nav-background);
  padding: 15px 0;
  transition: background-color 0.3s;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  color: var(--nav-text);
  font-size: 28px;
  font-weight: bold;
}

.links {
  display: flex;
}

.link {
  color: var(--nav-text);
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
}

.link:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}
