:root {
  --background-color: #f6f4c3; 
  --text-color: #4a785e; 
  --primary-color: #44aa77; 
  --secondary-color: #b4daa7; 
  --nav-background: #4a785e;
  --nav-text: #ffffff;
  --footer-background: #4a785e;
  --footer-text: #ffffff;
  --primary-color-rgb: 68, 170, 119; /* RGB values for #44aa77 */
}

[data-theme="dark"] {
  --background-color: #1e4b35;
  --text-color: #e0e0e0;
  --primary-color: #44aa77; 
  --secondary-color: #1e4b35; 
  --nav-background: #1e4b35;
  --nav-text: #e0e0e0;
  --footer-background: #1e4b35;
  --footer-text: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  color: var(--text-color);
}

button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
}

section {
  margin-bottom: 40px;
}

h3 {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
